.page-container {
    font-family: "Kulim Park";
    position:fixed;
    margin:0;
    top: 0;
    left:0;
    width: 100vw;
    z-index: -1;
    background-color: #FBFBFB;
}

.page-container-browser {  
    padding: 7.5vh 25vw 0 25vw;
    height: calc(100vh - 55px);
}

.page-container-mobile {  
    width: 100vw;
    height: 100vh;
}

.desktop-heading {
    font-size: 300%;
    margin-top: 2.5vh;
}

.mobile-heading {
    margin-top: 5vh;
    padding: 0 10vw;
    font-size: 200%;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.15s ease-in;
}


/* BODY */
.page-body-mobile {
    padding: 0 10vw;
    margin-top: 5vh;
}

.page-body-browser {
    margin-top: 5vh;
}


/* HOME PAGE */
#home-page-container-desktop {
    height: 100vh;
    padding: 25vh 0;
}

#home-page-container-desktop div {
    position: fixed;
    width: 100vw;
}

#home-page-container-desktop h1 {
    font-size: 7.5vw;
    text-align: center;
}

#home-page-container-desktop h2 {
    font-size: 5vw;
    text-align: center;
}

#home-page-container-mobile {
    position: fixed;
    padding-top: 40%;
}

#home-page-container-mobile div {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80vw;
    transition: 0.25s;
}

#home-page-container-mobile h1 {
    font-size: 20vw;
    text-align: center;
    padding: 0;
}

#home-page-container-mobile h2 {
    font-size: 10vw;
    text-align: center;
    padding: 0;
}
