.page-container {
    font-family: "Kulim Park";
    position:fixed;
    margin:0;
    top: 0;
    left:0;
    width: 100vw;
    z-index: -1;
}

.page-container-browser {  
    padding: 7.5vh 25vw 0 25vw;
    height: calc(100vh - 55px);
}

.page-container-mobile {  
    padding: 2.5vh 10vw 0 10vw;
    height: 100vh;
}

#home-page-container {
    background-color: #FBFBFB;
}

#about-page-container {
    background-color: #FBFBFB;
}

#contact-page-container {
    background-color: #FBFBFB;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.15s ease-in;
}

