.page-container {
    font-family: "Kulim Park";
    position:fixed;
    margin:0;
    top: 0;
    left:0;
    width: 100vw;
    z-index: -1;
    background-color: #FBFBFB;
}

.page-container-browser {  
    padding: 7.5vh 25vw 0 25vw;
    height: calc(100vh - 55px);
}

.page-container-mobile {  
    width: 100vw;
    height: 100vh;
}

.desktop-heading {
    font-size: 300%;
    margin-top: 2.5vh;
}

.mobile-heading {
    margin-top: 5vh;
    padding: 0 10vw;
    font-size: 200%;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.15s ease-in;
}


/* BODY */
.page-body-mobile {
    padding: 0 10vw;
    margin-top: 5vh;
}

.page-body-browser {
    margin-top: 5vh;
}
