*{ 
    font-family: "Kulim Park";
    font-weight: bold;
}

/* NAVIGATION BAR DESKTOP */
#nav-bar-desktop-container {
    background-color: white;
    position: relative;
    top: 0vh;
    left: 0;
    padding:0;
    margin:0;
    background-color: rgba(0,0,0,0);
    z-index: 99;
}

#nav-bar-desktop-container ul {
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 0 0 0 0;
    left: 60vw;
    margin: 0;
    list-style-type: none;
}
  
#nav-bar-desktop-container ul li {
    float: left;
    display: block;
    margin: 0;
    text-align: center;
    color: black;
    transition: 0.2s;
}

#nav-bar-desktop-container ul li a, .sign-io-desktop {
    text-decoration: none;
    color: inherit;
    line-height: 50px;
    height: 50px;
    display: block;
    width: 5vw;
}

#nav-bar-desktop-container ul li:hover {
    cursor: pointer;
    color: lightseagreen;
    transition: 0.25s;
}


/* NAVIGATION BAR DESKTOP */
#nav-bar-mobile-container {
    background-color: white;
    position: absolute;
    height: 55px;
    top: 2.5vh;
    right: 10vw;
    z-index: 99;
    background-color: rgba(0,0,0,0);
}

#nav-bar-mobile-inner-container {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: lightseagreen;
    z-index: -1;
    transition: 0.5s;
}

#drawer-toggle {
    opacity: 0;
}

#drawer-toggle-label {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

#drawer-icon {
    color: black;
    font-size: 200%;
    transition: 0.5s;
}

#drawer-toggle:checked ~ #drawer-toggle-label #drawer-icon { 
    color: white;
}

#drawer-toggle:checked ~ #nav-bar-mobile-inner-container { 
    right: 0;
}

#nav-bar-mobile-inner-container nav {
    position: relative;
    top: 12.5vh;
    left: 0;
}

#nav-bar-mobile-inner-container nav ul li {
    list-style-type: none;
    text-align: center;
    height: 7.5vh;
}

#nav-bar-mobile-inner-container nav ul li a, .sign-io-mobile {
    text-decoration: none;
    color: white;
    font-size: 150%;
    line-height: 7.5vh;
}


/* HORIZONTAL BAR */
#horizontal-bar {
    height: 2.5px;
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    width: 100vw;
}


/* LICENSE */
#license-container {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 70px;
    z-index: 99;
    width: 100vw;
    text-align: center;
    line-height: 70px;
}